*{
  box-sizing: border-box;

}

body{
  color:#333;
  font-size:14px;
  margin:0;
  line-height: 1.6;
  letter-spacing:1.5px;
    font-family: "�q���M�m�p�S Pro W3", "Hiragino Kaku Gothic Pro", "���C���I", Meiryo, Osaka, "�l�r �o�S�V�b�N", "MS PGothic", sans-serif;
}
.container{
  max-width:1170px;
  width:100%;
  margin:0 auto;

}
header{
  position: fixed;
  z-index: 10;
  width:100%;
  background:#fff;

}
.title{

  max-width: calc(100% - 20px);
  margin:0 auto;
  position: relative;
  padding:20px 0;
  height:75px;
  overflow:hidden;
  }

.title img, .title p{
  display: inline-block;

}
.title img{
  width:128px;
  margin-top:-6px;
}
.title>p{
  font-weight:bold;
  position: relative;
  top:-9px;
  margin:0;

}
.right{
  cursor:pointer;
  position:absolute;
  right:0px;
  top:16px;
  color:#fff;
  padding:11px 40px;
  background:#D84940;
  border-radius:25px;
  opacity: 0.8;
  }
  .right:hover{
    opacity:1.0;
  }
.right p{
  font-weight:300;
  position: relative;
  margin:0;
  top:50%;
}
.right-b{
  display: none;
  cursor:pointer;
  position:absolute;
  right:0px;
  top:0px;
  color:#fff;
  padding:9px 11px;
  background:#D84940;
  opacity: 0.8;
}
.right-b a{
  font-size:12px;
}

main{
  padding-top:75px;
}
.top-wrapper{
  width:100%;
  height:500px;
  background-image: url(../img/main.jpg);
  background-size:cover;
  padding-top:75px;
  text-align:center;
}

.top h1{
  font-size:28px;
  margin-bottom:10px;
}
.top img{
  width:320px;
  margin-bottom:10px;
}
.top p{
  font-weight:bold;
  font-size:20px;
  margin-bottom:10px;
}
.maintitle{
  background:#EBB94D;
  padding:30px 0;
  text-align: center;
}
.maintext p{
  font-size:20px;
  font-weight:600;
  color:#fff;
  margin-bottom:10px;
}
code{
  font-size:18px;
  background: #f9f2f4;
  color:#C7254E;
}
.brsp{
  display: none;
}
.contact1{
  max-width: 1028px;
  cursor:pointer;
  color:#fff;
  background:#da6b64;
  margin:45px auto;
  padding:30px 120px;
  border-radius:50px;
  opacity: 0.9;
}
.contact1 p{
  font-weight: 600;
  font-size: 28px;
  margin:0;
}
.contact1:hover{
  opacity:1;
}
.txt2 p{
  color:#fff;
  font-size:21px;
  margin:0 0 10px;
  font-weight:600;
  padding:10px;

}
.btn{
  display:inline-block;
  text-align: center;


}

span{
  margin-right: 3px;
}
.btn a{

  float:left;
  color:#fff;
  font-size: 11px;
  margin-top:20px;
  margin-left:5px;
  border-radius:5px;

  text-decoration: none;
  white-space: nowrap;
}
.twitter,.facebook{
  width:75px;
  height:20px;
  padding:1px 8px 1px 6px;
}
.twitter{

  background: #1b95e0;
}
.facebook,.signup{
  background:#4267e2;
}
.signup{
  width:40px;
  padding:1px 4px 1px 2px;
  text-align: center;
  }
  .intro{
    height:587px;
    background-image:url('../img/introbottom.jpg');
    background-size:cover;
    padding:40px 0 0;
    text-align: center;
  }
  .introcontainer{
    max-width:860px;
    width:100%;
    margin: 0 auto;
    position:relative;
    padding:15px 0;

  }
  .introcontainer::before{
    position:absolute;
    content:"";
    width:50px;
    height:50px;
    top:0;
    left:0;
    border-left:5px solid  #ebb94d;
    border-top:5px solid  #ebb94d;
  }
  .introcontainer::after{
    content:"";
    width:50px;
    height:50px;
    bottom:0;
    right:0;
    position:absolute;
    border-right:5px solid  #ebb94d;
    border-bottom:5px solid  #ebb94d;
  }
.introcontainer h2{
  font-size:28px;
  margin:20px 0 10px;
}

.introtext{
  padding:40px;
  font-size:20px;
}
.introtext p{
  margin-bottom: 24px;
}
.introtext span{
  font-weight: bold;
    /* background: linear-gradient(transparent 70%, #ebb94d 70%); */
    background: linear-gradient(transparent 70%, #ebb94d 70%);
}
.about{
  text-align:center;
  margin-top:10px;

}
.aboutp{
  display:inline-block;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
  padding:0;
  width:80px;
  height:80px;
  border-radius: 50%;
  background:#ebb94d;
  color:#fff;
  top:50%;
}
.txt-2{
  font-weight:600;
  font-size:20px;
  padding:40px 0 10px;
}
.container2{
  padding:40px;
  text-align: center;
  background: #FEF5E0;
}
.box1{
  max-width:1170px;
  width:100%;
  padding:30px;
  background: #fff;
  margin:30px auto;
  border:5px solid #ebb94d;
}
.txt3{
  font-weight:600;
  font-size:20px;
  margin:0;
  padding-bottom:10px;
}
.item{
  display: inline-block;
  padding: 10px;
}
.item p{
  font-size:12px;
  margin:10px 0;
}
.about2{
  background-image: url(../img/aboutsecondbg.jpg);
  background-size::cover;
  text-align:center;
  padding:40px 0;

}

.about2 h1{
  color:#fff;
  font-size:28px;
  margin:20px 0;
}
.txtabout{
  color:#fff;
  font-size:20px;
  margin-bottom:10px;
  font-weight:600;
}
.container3{
    margin:0 auto;
}

.step{
  padding:30px 30px 20px;
  border-radius: 10px;
  width:374px;

  display: inline-block;
  background:#fff;
}
.step:nth-of-type(2){
  margin: 0 1.5%;
}
.yello{
   color:#ebb94d
}
.steptext{
  font-size:16px;
  font-weight:600;
  background: #ebb94d;
  color:#fff;
  border-radius: 5px;
  margin-bottom:10px;
}
.step p:first-of-type{
  font-size:16px;
  font-weight:600;
    margin:30px 10px 15px;
}
.step p+p{
  font-size:16px;
  font-weight:600;
  margin-bottom:10px;
}
.about3{
  padding:40px 0;
  text-align: center;
  background: #016EA9;
}
.txt4{
  font-weight:600;
  color:#fff;
  font-size:20px;
  margin: 0;

}
.about3 span{
  color:#ebb94d;
}
.about4{
  padding:40px 0;
  margin:0 auto;
}
.container4{
  max-width:1170px;
  width:100%;
  margin:0 auto;
  text-align: center;
}
.about4 h1{
  font-size:28px;
  margin:20px 0 35px;
}
.about4 span{
  font-size:16px;

}
.about4 p{
  font-size:20px;
  margin-bottom:10px;
}

.item2{
  display: inline-block;
  padding:0 15px;
  margin:40px 0;
}
.item2 img{
  width:180px;
}
.item2s p{
  font-weight: 600;
  font-size:16px;
  margin-bottom:10px;
}
.introcontainer h1{
  font-size:28px;
  margin:0;
}
.introcontainer span{
  font-size:20px;
}
.box4{
  margin:40px 0;
}
.container5{
  max-width:1170px;
  width:100%;
  margin:0 auto;

}

.intros .container2{
  padding:55px 30px;
}
.intros .introcontainer::before{
  position:absolute;
  content:"";
  width:50px;
  height:50px;
  top:0;
  left:0;
  border-left:5px solid  #ebb94d;
  border-top:5px solid  #ebb94d;
}
.intros .introcontainer::after{

  content:"";
  width:45px;
  height:45px;
  bottom:0;
  right:0;
  position:absolute;
  border-right:5px solid  #ebb94d;
  border-bottom:5px solid  #ebb94d;
}
.item4{
  width:31.3%;
  vertical-align: top;
  display: inline-block;
  text-align: left;
}
.item4:nth-last-of-type(2){
  margin:0 1.5%;
}
.item4-1{
  background-image: url(../img/learnfromfreelancer.jpg);
  background-size: cover;
  height: 180px;
  margin-bottom:5px;
}
.item4-2{
  background-image: url(../img/learnfromprojects.jpg);
  background-size: cover;
  height: 180px;
  margin-bottom:5px;
}
.item4-3{
  background-image: url(../img/actuallyfree.jpg);
  background-size: cover;
  height: 180px;
  margin-bottom:5px;
}
.item4 b{
  font-size:20px;
  color:#ebb94d;
}
.item4 p{
  font-size:16px;
  margin:8px 0;
}
.box5{
  max-width:1170px;
  width:100%;
  padding:40px 20px;
  background: #fff;
  margin:30px auto;
  border:5px solid #ebb94d;
}
.box5 h1{
  font-size:28px;
  color:#ebb94d;
  margin-bottom:10px;
}
.box5 p{
  font-size:20px;
  font-weight:600;
  margin:0 0 10px;
}
.box5 p+p{
  font-size:16px;
  font-weight:600;
  margin-bottom:10px;
}
.ttt{
  font-size:14px;
  margin-bottom:10px;
}
.menber{
  padding:40px 0;
  background-image: url(../img/teacherbg.jpg);
  background-size:cover;
}
.container6{
  max-width:1170px;
  width: 100%;
  margin:0 auto;
  text-align: center;
}
.menber h1{
  font-size:28px;
  margin:20px 0 10px;
  font-weight:600;
  color:#fff;
}
.tt{
  font-size:16px;
  margin-bottom:10px;
  font-weight:600;
  color:#fff;
}
.menber-items{
  text-align:center;
}
.menber-item{
  display:inline-block;
  padding:0 15px;
  width:35%;
  vertical-align: top;
}
.menber-item img{
  width:198px;
  height:198px;
  border-radius: 50%;

  position:relative;
  bottom:-35px;
  z-index:2;

}
.menber-txt{
  border:3px solid #fff;
  padding:40px;
  color:#fff;
  font-size:16px;
  margin-bottom:10px;
  text-align:left;
}
.container-qa{
  background:#ebb94d;
  text-align: center;
}

.introcontainer2{
  max-width:860px;
  width:100%;
  margin: 0 auto;
  position:relative;
  padding:15px 30px;
}
.introcontainer2::before{
  position:absolute;
  content:"";
  width:50px;
  height:50px;
  top:0;
  left:0;
  border-left:5px solid  #fff;
  border-top:5px solid  #fff;
}
.introcontainer2::after{
  content:"";
  width:50px;
  height:50px;
  bottom:0;
  right:0;
  position:absolute;
  border-right:5px solid  #fff;
  border-bottom:5px solid  #fff;
}
.aboutq{
  text-align:center;
  color:#ebb94d;
  top:50%;
  margin:0;


}
.aboutqa{
  display:inline-block;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
  padding:0;
  width:80px;
  height:80px;
  border-radius: 50%;
  background:#fff;
  color:#fff;

}
.containerqa{
  max-width:1170px;
  width: 100%;
  margin:0 auto;
  padding:40px;
}
.introcontainer2 h1{
  font-size:28px;
  font-weight:600;
  color:#fff;
}
.triangle{
  content:"";
  width: 0;
  height:0;
  border:25px solid transparent;
  border-top-color:#ebb94d;
  margin:0 auto;
}
.kansou{
  background: white;
  padding:40px;

  }
  .kansoucontainer{
    max-width:1170px;
    width: 100%;
    margin:0 auto;
    text-align:center;

  }
  .kansou h1{
    font-size:28px;
    margin-bottom:10px;
  }
  .kansou p{
    font-size:16px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .kansou p+p{
    font-size:14px;
    font-weight:300;
    margin-bottom:10px;
  }
.itemkas{

  margin:0 auto;
  text-align:center;
}
.itemkan{
  height:250px;
  margin:40px 0;
  margin-left:195px;
  padding:20px 0;
    }
.itemkan img{
  float:left;
  width:250px;
  height:250px;
  margin-right:30px;
  border:2px solid #ebb94d;
}
.texts{
  width:520px;
  padding-left:10px;
  margin:15px auto 10px;
  font-style:italic;
  color:#777;
  text-align: left;
}
.texts p{
  font-size:18px;
  font-weight:normal;

}
.texts p+p{
  text-decoration: underline;
  margin-top:8px;
}
.classes{
  background-image: url(../img/classbg.jpg);
  background-size: cover;

}
.container-class{
  padding:40px 0;
  max-width:1170px;
  width: 100%;
  margin:0 auto;
  text-align: center;
}
.classes h1{
  font-size:28px;
  font-weight:600;
  color:#fff;
  margin:20px 0 10px;
}
.classes p{
  font-size:16px;
  font-weight: bold;
  margin:0 0 10px;
  color:#fff;
}
.class-items{
  display: inline-block;
  margin:40px auto;
}
.class-item{
  width:375px;
  background: #fff;
  float:left;
  margin:0 15px;
  border-radius: 10px;
  border:2px solid #016ea9;
}
.class-item p+p{
  color:black;
  font-size:16px;
  font-weight:bold;
  padding:10px;
  margin:0;
  border-bottom:1px dotted #e5e5e5;
}
.class-item p:first-of-type{
  background: #016ea9;
  color:#fff;
  margin:0;
  padding:15px;
}
.class-item p:last-of-type{
  border-bottom:none;
  margin:0;
}
.suport{
  background: #016ea9;
  padding:40px;
  margin:0 auto;
  text-align: center;
}
.suport p{
  font-size:20px;
  font-weight:bold;
  color:#fff;
  margin:0;
}
.classbottom{
  padding:40px 0;
}
.c-bottom{
  max-width:1170px;
  width: 100%;
  margin:0 auto;
  text-align: center;

}
.bottom-left a{
  display: none;
}
.c-bottom h1{
  font-size: 28px;
  margin:20px 0 10px;
}
.c-bottom >img{
  margin: 40px 0;
}
.bottombox{
  overflow:hidden;
  background:#fef5e0;
  padding:10px 35px;
  margin:-8px auto 0;

}
.bottom-left{
  width:200px;

  float:left;
  padding:20px;
  text-align: center;
}

.bottom-left p{

  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 0;
}
.bottom-right{
  padding-top:10px;
  text-align: left;
  overflow: hidden;

}
.bottom-right p{
  font-size:14px;

  margin:20px 0;
}
.bottom-right .b{
  font-size:16px;
  font-weight:bold;
  margin:20px 0;
}
.bankoku{
  background-image: url(../img/bangkokbg.jpg);
  background-size:cover;
}
.c-bankoku{
  padding:80px;
  margin:0 auto;
  color:#fff;
}
.c-bankoku h1{
  font-size:24px;
  padding:20px 0;
}
.c-bankoku p{
  margin:0 0 10px;
  font-size:14px;
}
.c-bankoku ul{
  list-style:none;
}
.c-bankoku li{
  font-size:16px;
  margin:0 0 10px;
  font-weight:bold;
}
.c-bankoku h3{
  font-size:20px;
  margin:0 0 10px;
}
.privilege{
  background:#f7c23c;
}
.c-privilege{
  max-width:1170px;
  width: 100%;
  margin:0 auto;
  padding:40px;

}
.c-privilege h1{
  font-size:28px;
  margin:20px 0 40px;
  text-align: center;
}
.white{
  color:#fff;
}
.c-privilege>p{
  font-size:16px;
  margin:0 0 10px;
  text-align: center;
}
.c-privilege h2{
  font-size:28px;
  margin:0 0 10px;
  text-align: center;
}
.p-title{
  background: #f7c23c;
  position:relative;
  width:55%;
  top:58px;
  margin:0 auto;
  z-index:2;

}
.p-items{
  border:2px solid #fff;
  overflow: hidden;
  padding:40px;
  margin:40px auto;
}
.p-item{
  padding:15px;
  display:inline-block;
  vertical-align: middle;

  }
.p-box{
  width:250px;

  margin:10px 25px;
  background: #fff;
  height:250px;
  border-radius: 50%;
}
.p-txt{
  position:relative;
  top:40px;
  padding:15px;
  text-align: center;
  vertical-align: middle;

}
.sp-text{
  display: none;
}
.yello-p{
  font-size:24px;
  font-weight:300;
  color:#ebb94d;
}
.p-circle{
  display:none;
}
.p-item p{
  font-weight:bold;
  margin:0 0 10px;
}
.brantia{
  background-image: url(../img/specialdetail.jpg);
  background-size: cover;

}
.c-brantia{
  padding:40px;
  max-width:1170px;
  width: 100%;
  margin:0 auto;
  text-align: center;
  color:#fff;
}
.c-brantia h1{
  margin:20px 0;
}
.c-brantia p{
  margin:0 0 40px;
  font-size:20px;
  font-weight:600;
}
.c-voice-s{
  padding:40px;
  max-width:1170px;
  width: 100%;
  margin:0 auto;
  text-align: center;

}
.c-voice-s h1{
  margin:20px 0 35px;
}
.c-voice-s > p{
  font-size:20px;
  font-weight:600;
}
.voice-box{
  max-width:890px;
  width:100%;
  margin:40px auto;
  text-align: left;
}
.voice-txt{
  padding:0 30px;
  overflow:hidden;
  width:79%;
}
.voice-box img{
  width:20%;
  float:left;
}
.voice-box p{

  font-size:14px;
  margin:0 0 10px;
}
.contact-form{
  background: #ebb94d;

}
.con-c{

  margin:0 auto;
  padding:40px 20%;
  text-align:center;
}
.con-c h1{

  margin:20px 0;
}
.con-c p{
  font-size:16px;
  font-weight:bold;
  margin-bottom:40px;
}
.contact-item input,textarea{
  width:100%;
  height:55px;
  padding:10px;
  margin-bottom:45px;
  border-radius: 5px;
  border:none;
  text-align: left;
}
.contact-item textarea{
  height:100px;
}
.contact-item .c-submit{
  background: #da6b64;
  color:#fff;
  border-radius: 50px;
  padding:10px 80px;
  margin-top:10px;
  font-size:23px;
  font-weight:bold;
  cursor:pointer;
  text-align:center;
}
.forlum{
  padding:40px;
  margin:0 auto;
  }
  .c-forlum{
    max-width:1170px;
    width: 100%;
    margin:0 auto;
  }
  .forlum h2{
    text-align: center;
  }
  .boxp{
    margin:40px;
  }
  .f-boxq{
    border:1px solid #e5e5e5;
    cursor:pointer;
    padding:20px;
    margin:5px 0;
    text-decoration: none;
  }
  .f-boxq:hover{
    text-decoration: underline;
  }
  .f-boxq a{
    text-decoration: none;
    text-align:left;
    font-size:20px;
    color:black;
    font-weight:bold;
  }

  .f-boxq .down{
    width:22px;
    height:22px;
    margin-top:8px;
    float:right;
    color:#e5e5e5;
  }
  .f-boxa{
    display:none;
    padding:20px;
    border-bottom:1px solid #e5e5e5;
  }
  .f-boxa p{

    text-align: left;
    font-size:16px;
    font-weight:bold;
    margin:0;
  }
footer{
  background: #ececec;
  padding:40px 15px 20px;
  text-align:center;
}
footer p{
  font-size:10px;
  padding-bottom:5px;
  margin-top:20px;
}
footer p:last-of-type{
margin-bottom: 0;
}
footer a{
  text-decoration: none;
}
footer .btn a{

  margin:0 2px 10px;
}
